

<header id="navbar" class="nav">
    <a class="navbar-brand" href="/">
			<img src="{{ asset('assets/uploads/logoeolia170px.png')}}" alt="char à voile Baie de Somme"></a>
      
							 <a class="dropdown-item" href="{#{{ path('admin_main_calendar')  }}#} ">Séances</a>
						
							<a class="dropdown-item" href="/ ">Staffs</a>
									   
							<a class="dropdown-item" href="/"> Catégorie</a>
					
							<a class="dropdown-item" href="/"> Liste des utilisateurs</a>	
							
							<a class="dropdown-item" href="/"> Créer un utilisateur</a>

							<a class="dropdown-item" href="/"> Réglages</a>
  </div>
   
</nav>


     <a class="icon" onclick = "myFunction()">&#9776;</a>

</header>
 


