{% extends 'base.html.twig' %}

{% block title %}eoliacalendarchar!{% endblock %}

{% block body %}
<h1> Calendrier char à voile</h1>
<div class="calendaraccueil"> 
<img src="{{ asset('assets/uploads/groupe-cha-mini-1.jpg')}}" alt="char à voile Baie de Somme">
<div class="milieu">
<p class="milieu" >Prix par personne/ 60€ </p>
<p class="milieu" > 48€ pour les moins de 25 ans</p>
<p class="milieu" > A partir de 11 ans et 1,40 m</p>
</div>
</div>
<p class="milieu" >Cliquez sur la séance où vous souhaitez réserver. </p>
{#me donne kle json de data#}
{#{{dump(data)}}  #}


<div id="calendrier">  </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let calendarElt = document.querySelector("#calendrier");

        let mediaQuery = window.matchMedia("(max-width: 1000px)");
        let calendar;

        function updateCalendarDuration() {
          if (mediaQuery.matches) {
           // console.log("Setting calendar duration to 3 days");
            calendar.changeView('timeGridThreeDay');
          } else {
          //  console.log("Setting calendar duration to 7 days");
            calendar.changeView('timeGridWeek');
          }
        }

        window.onload = () => {
          calendar = new FullCalendar.Calendar(calendarElt, {

                 eventContent: function (arg) {
              let stock = arg.event.extendedProps.stock;
              let quantitecommande = arg.event.extendedProps.quantityCommanded;
              let stockHtml = '<div class="event-stock"> ' + 'Il reste : '  + stock + ' places' + '</div>'; 
             // let quantitecommandeHtml = '<div class="event-q"> ' + 'place déja prise :'+ quantitecommande + '</div>';
             //  let idHtml = '<div class="event-stock"> ' + arg.event.id + '</div>';

              return {
                html:  arg.event.title + stockHtml   
              //html: stockHtml + quantitecommandeHtml + arg.event.title + idHtml 
              };

            },


            initialView: 'timeGridWeek',
            views: {
              timeGridThreeDay: {
                type: 'timeGrid',
                duration: { days: 3 }
              },
              timeGridWeek: {
                type: 'timeGrid',
                duration: { days: 7 }
              }
            },
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
              start: 'prev,next today',
              center: 'title',
              end: 'dayGridMonth,timeGridThreeDay,timeGridWeek'
            },
            buttonText: {
              today: 'Aujourd\'hui',
              month: 'Mois',
              timeGridThreeDay: '3 jours',
              timeGridWeek: '7 jours'
            },
            events: {{ data|raw }},
          });

          calendar.on('eventClick', (e) => {
            let donnees = {
              "id": e.event.id
            };
            let id = donnees.id;
         let url = "https://127.0.0.1:8000/calendar/" + id;
             window.location.href = url;
          });

          calendar.render();
          updateCalendarDuration(); // Appel initial pour mettre à jour la durée du calendrier
        };

        mediaQuery.addEventListener('change', () => {
        //  console.log("Media query changed");
          updateCalendarDuration();
        });
    </script>
{% endblock %}


