{% extends 'base.admin.html.twig' %}

{% block title %}Edit Calendar{% endblock %}

{% block body %}
    <h1>Edit Calendar</h1>

    {{ include('admin/admin_calendar/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_admin_agenda') }}">Retour à l'agenda'</a>

    {{ include('admin/admin_calendar/_delete_form.html.twig') }}
{% endblock %}
