{% extends 'base.admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créer une nouveau User</h1>

    {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}">Retour à la liste</a>
{% endblock %}
