{% extends 'base.admin.html.twig' %}

{% block title %}Créer une nouvelle séance{% endblock %}

{% block body %}
    <h1>Placer un staff créneau</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}

