{% extends 'base.html.twig' %}

{% block title %}New CategoryColorSetting{% endblock %}

{% block body %}
    <h1>Create new CategoryColorSetting</h1>

    {{ include('admin/category_color_setting/_form.html.twig') }}

    <a href="{{ path('app_category_color_setting_index') }}">back to list</a>
{% endblock %}
