{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <div class="container">
        <form action="traitement.php" method="post">
            <p>
                <label for="nom">Nom :</label>
                <input type="text" name="nom" id="nom">
            </p>
            <p>
                <label for="sujet">Sujet :</label>
                <input type="text" name="sujet" id="sujet">
            </p>
            <p>
                <label for="email">E-mail :</label>
                <input type="email" name="email" id="email">
            </p>
            <p>
                <label for="message">Message :</label>
                <textarea name="message" id="message"></textarea>
            </p>
            <button>Envoyer</button>
        </form>


    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}





