<form method="post" action="{{ path('admin_staff_delete', {'id': staff.id}) }}" onsubmit="return confirm('Confirmez vous la suppression de cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ staff.id) }}">
    <button class="btn">Supprimer</button>
</form>
