{% extends 'base.admin.html.twig' %}

{% block title %}New Staff{% endblock %}

{% block body %}
    <h1>Créer  Staff</h1>

    {{ include('admin/admin_staff/_form.html.twig') }}

    <a href="{{ path('admin_staff_index') }}">Retour à la liste</a>
{% endblock %}
